BotaniaVars.dat
ForgeEssentials/
asm/
dimlets.cfg
fonts/
hats/
journeymap/
logs/
main.cfg
minetweaker.log
mystcraft/
options.txt
optionsof.txt
pack.json
perms.txt
resources/
saves/
screenshots/
servers.dat
usernamecache.json
scripts/